// font2Web
@font-face {
	font-family: 'Ubuntu-Medium';
	src: url('../fonts/Ubuntu-Medium.eot');
	src: local('☺'), url('../fonts/Ubuntu-Medium.woff') format('woff'), url('../fonts/Ubuntu-Medium.ttf') format('truetype'), url('../fonts/Ubuntu-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

